<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full min-h-screen p-10 bg-zinc-900 text-white">
        <div class="flex justify-end w-full">
            <a href="/logout" class="px-3 py-2 bg-red-500 text-black rounded-md">Logout</a>
        </div>
        <h1 class="text-3xl"><span class="text-yellow-500">Hello</span>
            <%= user.name %> 👋
        </h1>
        <h5>Create Post !</h5>
        <form action="/post" method="post">
            <textarea name="content" placeholder="Whats on your mind ?..."
                class="p-3 rounded-md resize-none bg-zinc-900 border-2 border-zinc-500 w-1/3 mt-3 outline-none block mb-3"></textarea>
            <input type="submit" name="" class="w-40 p-2 bg-blue-500 text-black rounded-md block mb-10"
                value="Create Post">
            <hr>
        </form>

        <div class="posts mt-10">
            <h1 class="text-zinc-400">Your Posts 🌟</h1>
            <div class="postContainer">
                <!-- so that latest post will be first -->
                <% user.posts.reverse().forEach(post=> { %>
                    <div class="w-1/3 bg-zinc-800 mb-4 mt-5 rounded-md border-[1px] border-zinc-500 p-2">
                        <h4 class="text-blue-500 mb-2">@<%=user.username %>
                        </h4>
                        <p class="text-sm">
                            <%= post.content %>
                        </p>
                        <small class="mt-1">
                            <%= post.likes.length %>
                        </small>
                        <div class="btns flex gap-4 mt-4">
                            <a href="/like/<%= post._id %>" class="text-blue-500">
                                <%= (post.likes.indexOf(user._id)===-1) ? "like" : "unlike" %>
                            </a>
                            <a href="/edit/<%= post._id %>" class="text-zinc-500">edit</a>
                        </div>
                    </div>
                    <% }); %>


            </div>
        </div>
    </div>
</body>

</html>